{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>

<html>
<head>
    <title>Users - Client Landpage</title>
</head>
<body>
    <h1>Client</h1>
    <hr>
    <h2>Welcome {{ user.first_name }} - <a href="{% url 'core:logout' %}">Logout</a></h2>
    <h3>Accommodations around:</h3>
    {% for accommodation in accommodations_all %}
    <li><a href="{{ accommodation }}/" class="btn">{{ accommodation }} - {{ accommodation.score }} &#x2B50;</a></li>
    <br>
    {% empty %}
    <p>No accommodations around.</p>
    {% endfor %}
    <a href="accommodations/listall/">View All</a>
</body>
</html>
{% endblock %}